.hoverTitle {
    position: absolute;
    font-weight: bold;
}

.hoverTitleLg {
    font-size: calc(7px + (60 - 7) * ((100vw - 300px) / (1600 - 300)));
    top: 0.1em;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
}

.hoverTitleMd {
    font-size: calc(5px + (50 - 5) * ((100vw - 300px) / (1600 - 300)));
    top: 0.1em;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;

}

.hoverTitleSm {
    font-size: calc(2px + (40 - 2) * ((100vw - 300px) / (1600 - 300)));
    top: .03em;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
}

.hoverLink {
    text-decoration: none;
    color: #2756f3;
    background-color: white;
    border-style: solid;
    border-image: linear-gradient(to bottom right, #426eff, #e95cff) 1;
    text-shadow: 1px 1px 2px #88039c;
}

.hoverLinkLg {
    padding: 0.3em;
    border-width: 0.12em;
}

.hoverLinkMd {
    padding: 0.2em;
    border-width: 0.1em;
}

.hoverLinkSm {
    padding: 0.18em;
    border-width: 0.08em;
}

.hoverLink:hover {
    color: #4681f7;
}

.gitHubLink {
    position: absolute;
    bottom: 5%;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
    color: black;
}

.gitHubLink:hover {
    color: rgb(103, 98, 98);
}

.gridItem {
    position: relative;
}

.img {
    width: 100%;
    padding: 4%;
    background-color: #ffff;
    box-shadow: 10px 8px 5px rgba(0,0,0,0.2),0px 4px 5px 0px rgba(0,0,0,0.14),0px 1px 10px 0px rgba(0,0,0,0.12);
}

.zIndex1 {
    z-index: 1;
}

.coverUpDiv {
    position: absolute;
    top: 0.5em;
    width: 97%;
    height: 95%;
    background-color: rgba(250,250,250,0.8);
    box-shadow: -5px 5px 15px 15px rgba(250,250,250,0.5);
}

.linkIcon::before {
    display: inline-block;
    content: '';
    background: url(../../assets/img/portfolio/link.png) no-repeat;
    margin-right: 0.3em;
}

.linkIconLg::before {
    background-size: 0.8em;
    height: 0.8em;
    width: 0.8em;
}

.linkIconMd::before {
    background-size: 0.8em;
    height: 0.8em;
    width: 0.8em;
}

.linkIconSm::before {
    background-size: 0.8em;
    height: 0.8em;
    width: 0.8em;
}